.banner{
    background-image: url(../images/heart-529607_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);

    &__bg{
        height: 100%;
        background-image: url(../images/Snow-PNG-Clipart.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.3);
        animation: animationBg 30s linear infinite;
    }

    .banner__content {
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-family: 'Great Vibes', cursive;
        font-size: 90px;
    }

    &__desc {
        font-size: 26px;
        border-top: 1px solid #fff;
        //border-bottom: 1px solid #fff;
        padding: 12px 20px;
        letter-spacing: 2px;
    }

    // End Banner content

    .banner__time {
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50% 50% 0 0;
        position: absolute;
        bottom: -150px;
        left: 50%;
        transform: translateX(-50%);
        animation: animation1 1.4s linear infinite;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);

    }

    &__date {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 70px;
        text-align: center;
        color: #fff;

        p{
            font-size: 35px;
            font-family: 'Great Vibes', cursive;
        }
        span{
            font-size: 100%;
        }
    }
}

@keyframes animationBg{
    0%{
        background-position: 0 0
    }
    50%{
        background-position: 50% 50%
    }
    100%{
        background-position: 100% 100%
    }
}

@keyframes animation1{
    0%{
        box-shadow: 0 0 0 0 #fff;
    }
    50%{
        box-shadow: 0 0 100px 0 #fff;
    }
    100%{
        box-shadow: 0 0 0 0 #fff;
    }
}