.banner.mb-5.mt-5
    //.banner__animation
    .banner__bg       
        .banner__content
            p.banner__title Suntina & Famico
            p.banner__desc WE'RE GETTING MARRIED
        // End Banner content

        .banner__time
            .banner__date 
                p Save the date  
                span 25 DEC 2020