.couple.container.mb-5
    div
        .row
            .col-md-6.couple__img.p-0
                img(src="../images/the-groom.jpg", alt="the-groom").img-fluid
            .col-md-6.couple__text.p-5
                p.couple__heading THE GROOM
                p.couple__detail
                    | Hi I am suntina dolor sit amet consectetur adipisicing elit. Maiores, vitae?
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laborum accusantium itaque quae, nulla officiis!
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, minus!
                p.couple__sign - Suntina
        .row
            .col-md-6.text-right.couple__text.p-5
                p.couple__heading THE BRIDE
                p.couple__detail
                    | Hi I am Famico  dolor sit amet consectetur adipisicing elit. Maiores, vitae?
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laborum accusantium itaque quae, nulla officiis!
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, minus!
                p.couple__sign - Famico
            .col-md-6.couple__img.p-0
                img(src="../images/THE BRIDE.jpg", alt=" the-bride").img-fluid
