.lorem_grid.container.mt-5
    .row
        .lorem_grid__item.col-md-3.col-6
            
        .lorem_grid__item.col-md-3.col-6
            
        .lorem_grid__item.col-md-3.col-6
            
        .lorem_grid__item.col-md-3.col-6