.header_nav.fixed-top
    .row.bg-light
        .header_nav__logo.col-md-3.pl-5
            a S <i class="fas fa-heart"></i> F
        nav.navbar.navbar-expand-sm.bg-light.navbar-light.col-md-9
            ul.navbar-nav
                li.nav-item
                    a(href="#").nav-link Home
                li.nav-item
                    a(href="#").nav-link Couple
                li.nav-item
                    a(href="#Story").nav-link Story
                li.nav-item
                    a(href="#Gallery").nav-link Gallery