mixin img(url)
    img(src=`${urlImg + url+'.jpg'}` alt=`${url}` class="img-fluid")
- const urlImg = "../images/"
.time_line.container.mt-5.mb-5
    .row
        .time_line__desc.col-md-6.text-right.p-5
            p.time_line__title
                | PROPOSAL
            span.time_line__date 12/07/2015
            p.time_line__detail
                | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                | which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
                | which was created for the bliss of souls like mine. I am so happy, my dear friend,
        .time_line__img.col-md-6.p-5
            .time_line__heart
                i.fas.fa-heart
            +img('img-15')
            
    .row
        .time_line__img.col-md-6.p-5
            +img('img-1(3)')
        .time_line__desc.col-md-6.p-5
            .time_line__heart
                i.fas.fa-heart
            p.time_line__title
                | ENAGAGEMENT
            span.time_line__date 12/12/2016
            p.time_line__detail
                | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                | which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
                | which was created for the bliss of souls like mine. I am so happy, my dear friend,
    .row
        .time_line__desc.col-md-6.text-right.p-5
            p.time_line__title
                | PROPOSAL
            span.time_line__date 12/07/2015
            p.time_line__detail
                | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                | which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
                | which was created for the bliss of souls like mine. I am so happy, my dear friend,
        .time_line__img.col-md-6.p-5
            .time_line__heart
                i.fas.fa-heart
            +img('img-15')
            
    .row
        .time_line__img.col-md-6.p-5
            +img('img-1(3)')
        .time_line__desc.col-md-6.p-5
            .time_line__heart
                i.fas.fa-heart
            p.time_line__title
                | ENAGAGEMENT
            span.time_line__date 12/12/2016
            p.time_line__detail
                | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                | which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
                | which was created for the bliss of souls like mine. I am so happy, my dear friend,